<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->
    <connectionStrings>
      <add name="MusicStoreEntities" 
        connectionString="Server=abb310fd-3fb4-484e-8f8f-a07100a1d825.sqlserver.sequelizer.com;Database=dbabb310fd3fb4484e8f8fa07100a1d825;User ID=kmvwsqhdvlgeckmv;Password=p5adijLt7AwkPtisdV8cAZ5xH6XtJvgxGxua4PJoZF5qqgzEr5hszzwwaKCmtsSJ;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>